openapi: 3.1.0
info:
  title: API Reference
  version: "2.0"
  summary: API
  description: |-
    Vessel's APIs requires an access token to be used together with your Vessel API token. Ensure the following headers are provided when making API calls:

    Key | Value | Description
    ---------|----------|----------
     vessel-api-token | `<VESSEL_API_TOKEN>` | The API token provided by us
     
    Additionally, in the query or body parameters of each request depending on whether it is a GET or POST, make sure to include the `accessToken` for the connection you want to access.
servers:
  - url: "https://api.vessel.land"
tags:
  - name: users
  - name: contacts
  - name: notes
  - name: tasks
  - name: deals
  - name: accounts
  - name: emails
  - name: events
  - name: attendees
  - name: leads
  - name: passthrough
  - name: links
  - name: connections
  - name: webhooks
  - name: integrations
  - name: tokens
  - name: engAccounts
  - name: engUsers
  - name: engContacts
  - name: engCalls
  - name: engTasks
  - name: engActions
  - name: engDispositions
x-speakeasy-name-override:
  - operationId: post-*
    methodNameOverride: create
  - operationId: put-*
    methodNameOverride: update
  - operationId: delete-*
    methodNameOverride: delete
  - operationId: get-one-*
    methodNameOverride: find
  - operationId: get-all-*
    methodNameOverride: list
  - operationId: get-details-*
    methodNameOverride: details
  - operationId: get-batch-*
    methodNameOverride: batch
  - operationId: search-*
    methodNameOverride: search
paths:
  /crm/users:
    get:
      summary: Get All Users
      tags:
        - users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    users:
                      - id: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        nativeId: "12"
                        firstName: Micheal
                        lastName: Scott
                        email: micheal@dundermifflin.com
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
                    nextPageCursor: string
      operationId: get-all-crm-users
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          required: true
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: number
          in: query
          name: limit
          description: The number of records to return per page.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve all Users
    parameters: []
  /crm/users/search:
    post:
      summary: Search Users
      tags: 
        - users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    id:
                      $ref: "#/components/schemas/StringFilter"
                    nativeId:
                      $ref: "#/components/schemas/StringFilter"
                    firstName: 
                      $ref: "#/components/schemas/StringFilter"
                    lastName:
                      $ref: "#/components/schemas/StringFilter"
                    email:
                      $ref: "#/components/schemas/StringFilter"
                    createdTime:
                      $ref: "#/components/schemas/DateFilter"
                    modifiedTime:
                      $ref: "#/components/schemas/DateFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  nextPageCursor:
                    type: string
                title: responseBody
              examples:
                example-1:
                  value:
                    users:
                      - id: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        nativeId: "12"
                        firstName: Micheal
                        lastName: Scott
                        email: micheal@dundermifflin.com
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
                    nextPageCursor: string
      operationId: search-crm-users
      description: Search all Users using filters
      parameters:
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/allFields'
  /crm/user:
    get:
      summary: Get User
      tags:
        - users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
              examples:
                example-1:
                  value:
                    user:
                      id: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                      nativeId: "12"
                      firstName: Micheal
                      lastName: Scott
                      email: micheal@dundermifflin.com
                      createdTime: "2019-08-24T14:15:22Z"
                      modifiedTime: "2019-08-24T14:15:22Z"
                      associations:
                        taskIds:
                          - v.task.2322707bbc41577d9806400e2daa25de
                        noteIds:
                          - v.note.006b4db16b6b50c981a174b02753c390
                        eventIds:
                          - v.event.0000d2e83d6c5d52a61f2fb860666477
                        dealIds:
                          - v.deal.497fb529e6805351b5dc8057c74a4a52
                        accountIds:
                          - v.account.0dcb45e051315a6ea63b0f16e73689d9
                        emailIds:
                          - v.email.3ab3a9562af957228c1019127e3c81e1
                      additional: {}
      operationId: get-one-crm-user
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: id
          required: true
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve a single User by Id
    parameters: []
  /crm/user/details:
    get:
      summary: Get User Details
      tags:
        - users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/Field"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                      - key: firstName
                        name: First name
                        type: string
                        options: null
                        isArray: false
                        custom: false
                        universal: true
                        required: false
                        creatable: true
                        updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-user
      description: |-
        Get details about all users. 
        Details include the type, possible values, and other meta data about the fields.
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: "The token for the customer's CRM account. This was generated when they connected their account."
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: boolean
          in: query
          name: allFields
          description: "Returns details about native fields."
  /crm/user/batch:
    get:
      summary: Get Batch Users
      tags:
        - users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  invalidIds:
                    $ref: "#/components/schemas/InvalidIds"
              examples:
                example-1:
                  value:
                    users:
                      - id: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        nativeId: "12"
                        firstName: Micheal
                        lastName: Scott
                        email: micheal@dundermifflin.com
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
      operationId: get-batch-crm-user
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          required: true
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: ids
          description: Comma separated list of User Id's.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve Users by a set of Id's
    parameters: []
  /crm/contacts:
    get:
      summary: Get All Contacts
      tags:
        - contacts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    contacts:
                      - id: v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                        nativeId: "23"
                        email: tom@bluecross.com
                        firstName: Tom
                        lastName: Smith
                        jobTitle: Director of Operations
                        phone: "2101128833"
                        mobilePhone: "2106541111"
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          eventAttendeeIds:
                            - v.attendee.f63c1bd7215f5150b332d31d9509752f
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
                    nextPageCursor: string
      operationId: get-all-crm-contacts
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: number
          in: query
          name: limit
          description: The number of records to return per page.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve all Contacts
    parameters: []
  /crm/contacts/search:
    post:
      summary: Search Contacts
      tags: 
        - contacts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    id:
                      $ref: "#/components/schemas/StringFilter"
                    nativeId:
                      $ref: "#/components/schemas/StringFilter"
                    firstName:
                      $ref: "#/components/schemas/StringFilter"
                    lastName:
                      $ref: "#/components/schemas/StringFilter"
                    jobTitle:
                      $ref: "#/components/schemas/StringFilter"
                    email:
                      $ref: "#/components/schemas/StringFilter"
                    phone:
                      $ref: "#/components/schemas/StringFilter"
                    mobilePhone:
                      $ref: "#/components/schemas/StringFilter"
                    createdTime:
                      $ref: "#/components/schemas/DateFilter"
                    modifiedTime:
                      $ref: "#/components/schemas/DateFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
                  nextPageCursor:
                    type: string
                title: responseBody
              examples:
                example-1:
                  value:
                    contacts:
                      - id: v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                        nativeId: "23"
                        email: tom@bluecross.com
                        firstName: Tom
                        lastName: Smith
                        jobTitle: Director of Operations
                        phone: "2101128833"
                        mobilePhone: "2106541111"
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          eventAttendeeIds:
                            - v.attendee.f63c1bd7215f5150b332d31d9509752f
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
                    nextPageCursor: string
      operationId: search-crm-contacts
      description: Search all Contacts using filters
      parameters:
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/allFields'
  /crm/contact:
    get:
      summary: Get Contact
      tags:
        - contacts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  contact:
                    $ref: "#/components/schemas/Contact"
              examples:
                example-1:
                  value:
                    contact:
                      id: v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                      nativeId: "23"
                      email: tom@bluecross.com
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      phone: "2101128833"
                      mobilePhone: "2106541111"
                      createdTime: "2019-08-24T14:15:22Z"
                      modifiedTime: "2019-08-24T14:15:22Z"
                      associations:
                        accountIds:
                          - v.account.0dcb45e051315a6ea63b0f16e73689d9
                        dealIds:
                          - v.deal.497fb529e6805351b5dc8057c74a4a52
                        leadIds:
                          - v.lead.d08f345ace24509e911a0ea8e3d2203c
                        noteIds:
                          - v.note.006b4db16b6b50c981a174b02753c390
                        taskIds:
                          - v.task.2322707bbc41577d9806400e2daa25de
                        eventIds:
                          - v.event.0000d2e83d6c5d52a61f2fb860666477
                        eventAttendeeIds:
                          - v.attendee.f63c1bd7215f5150b332d31d9509752f
                        emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                      additional: {}
      operationId: get-one-crm-contact
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: id
          description: The id of the contact to get (takes precedence over email when both are included)
        - schema:
            type: string
          in: query
          name: email
          description: The email of the contact to get (concedes precedence over id when both are included)
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: "Retrieve a Contact by either Id or email. When both email and Id are included, Id will take priority."
    parameters: []
    post:
      summary: Create Contact
      tags:
        - contacts
      operationId: post-crm-contact
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  id:
                    type: string
              examples:
                example-1:
                  value:
                    id: "0"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                contact:
                  $ref: "#/components/schemas/ContactCreate"
              required:
                - accessToken
                - contact
            examples:
              example-1:
                value:
                  accessToken: string
                  contact:
                    email: tom@bluecross.com
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    phone: "2101128833"
                    mobilePhone: "2106541111"
      description: Create a new contact.
    patch:
      summary: Update Contact
      tags:
        - contacts
      operationId: put-crm-contact
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: "0"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                id:
                  type: string
                contact:
                  $ref: "#/components/schemas/ContactUpdate"
              required:
                - accessToken
                - id
                - contact
            examples:
              example-1:
                value:
                  accessToken: string
                  id: string
                  contact:
                    email: tom@bluecross.com
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    phone: "2101128833"
                    mobilePhone: "2106541111"
          application/xml:
            schema:
              type: object
              properties: {}
        description: ""
      description: Update an existing Contact.
  /crm/contact/details:
    get:
      summary: Get Contact Details
      tags:
        - contacts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/Field"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                      - key: firstName
                        name: First name
                        type: string
                        options: null
                        isArray: false
                        custom: false
                        universal: true
                        required: false
                        creatable: true
                        updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-contact
      description: |-
        Get details about all contacts. 
        Details include the type, possible values, and other meta data about the fields.
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: "The token for the customer's CRM account. This was generated when they connected their account."
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: boolean
          in: query
          name: allFields
          description: "Returns details about native fields."
  /crm/contact/batch:
    get:
      summary: Get Batch Contacts
      tags:
        - contacts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
                  invalidIds:
                    $ref: "#/components/schemas/InvalidIds"
              examples:
                example-1:
                  value:
                    contacts:
                      - id: v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                        nativeId: "23"
                        email: tom@bluecross.com
                        firstName: Tom
                        lastName: Smith
                        jobTitle: Director of Operations
                        phone: "2101128833"
                        mobilePhone: "2106541111"
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          eventAttendeeIds:
                            - v.attendee.f63c1bd7215f5150b332d31d9509752f
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
      operationId: get-batch-crm-contact
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          required: true
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: ids
          description: Comma separated list of Contact Id's.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve Contacts by a set of Id's
    parameters: []
  /crm/deals:
    get:
      summary: Get All Deals
      tags:
        - deals
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  deals:
                    type: array
                    items:
                      $ref: "#/components/schemas/Deal"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    deals:
                      - id: v.deal.497fb529e6805351b5dc8057c74a4a52
                        nativeId: "84"
                        name: Blue Cross Deal
                        stage: demo
                        amount: 10000
                        closeDate: "2020-08-23T00:00:00Z"
                        probability: "0.4"
                        expectedRevenue: 4000
                        isWon: false
                        isClosed: false
                        modifiedTime: "2019-08-24T14:15:22Z"
                        createdTime: "2019-08-24T14:15:22Z"
                        associations:
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
                    nextPageCursor: string
      operationId: get-all-crm-deals
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: number
          in: query
          name: limit
          description: The number of records to return per page.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve all Deals
    parameters: []
  /crm/deals/search:
    post:
      summary: Search Deals
      tags: 
        - deals
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    id:
                      $ref: "#/components/schemas/StringFilter"
                    nativeId:
                      $ref: "#/components/schemas/StringFilter"
                    closeDate:
                      $ref: "#/components/schemas/DateFilter"
                    name:
                      $ref: "#/components/schemas/StringFilter"
                    amount:
                      $ref: "#/components/schemas/NumberFilter"
                    probability:
                      $ref: "#/components/schemas/NumberFilter"
                    stage:
                      $ref: "#/components/schemas/StringFilter"
                    isWon:
                      $ref: "#/components/schemas/BooleanFilter"
                    isClosed:
                      $ref: "#/components/schemas/BooleanFilter"
                    expectedRevenue:
                      $ref: "#/components/schemas/NumberFilter"
                    createdTime:
                      $ref: "#/components/schemas/DateFilter"
                    modifiedTime:
                      $ref: "#/components/schemas/DateFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deals:
                    type: array
                    items:
                      $ref: "#/components/schemas/Deal"
                  nextPageCursor:
                    type: string
                title: responseBody
              examples:
                example-1:
                  value:
                    deals:
                      - id: v.deal.497fb529e6805351b5dc8057c74a4a52
                        nativeId: "84"
                        name: Blue Cross Deal
                        stage: demo
                        amount: 10000
                        closeDate: "2020-08-23T00:00:00Z"
                        probability: "0.4"
                        expectedRevenue: 4000
                        isWon: false
                        isClosed: false
                        modifiedTime: "2019-08-24T14:15:22Z"
                        createdTime: "2019-08-24T14:15:22Z"
                        associations:
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
                    nextPageCursor: string
      operationId: search-crm-deals
      description: Search all Deals using filters
      parameters:
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/allFields'
  /crm/deal:
    get:
      summary: Get Deal
      tags:
        - deals
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  deal:
                    $ref: "#/components/schemas/Deal"
              examples:
                example-1:
                  value:
                    deal:
                      id: v.deal.497fb529e6805351b5dc8057c74a4a52
                      nativeId: "84"
                      name: Blue Cross Deal
                      stage: demo
                      amount: 10000
                      closeDate: "2020-08-23T00:00:00Z"
                      probability: "0.4"
                      expectedRevenue: 4000
                      isWon: false
                      isClosed: false
                      modifiedTime: "2019-08-24T14:15:22Z"
                      createdTime: "2019-08-24T14:15:22Z"
                      associations:
                        contactIds:
                          - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                          - v.account.0dcb45e051315a6ea63b0f16e73689d9
                        noteIds:
                          - v.note.006b4db16b6b50c981a174b02753c390
                        taskIds:
                          - v.task.2322707bbc41577d9806400e2daa25de
                        eventIds:
                          - v.event.0000d2e83d6c5d52a61f2fb860666477
                        emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                      additional: {}
      operationId: get-one-crm-deal
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: id
          required: true
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve a single Deal by Id
    parameters: []
    post:
      summary: Create Deal
      tags:
        - deals
      operationId: post-crm-deal
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: "0"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                deal:
                  $ref: "#/components/schemas/DealCreate"
              required:
                - accessToken
                - deal
            examples:
              example-1:
                value:
                  accessToken: string
                  deal:
                    name: Blue Cross Deal
                    amount: 10000
                    closeDate: "2020-08-23T00:00:00Z"
                    probability: "0.4"
                    stage: closedwon
                    accountId: v.account.0dcb45e051315a6ea63b0f16e73689d9
      description: Create a new Deal
    patch:
      summary: Update Deal
      tags:
        - deals
      operationId: put-crm-deal
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: "0"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                id:
                  type: string
                deal:
                  $ref: "#/components/schemas/DealUpdate"
              required:
                - accessToken
                - id
                - deal
            examples:
              example-1:
                value:
                  accessToken: string
                  id: string
                  deal:
                    name: Blue Cross Deal
                    amount: 10000
                    closeDate: "2020-08-23T00:00:00Z"
                    probability: "0.4"
                    accountId: v.account.0dcb45e051315a6ea63b0f16e73689d9
        description: ""
      description: Update an existing Deal
  /crm/deal/details:
    get:
      summary: Get Deal Details
      tags:
        - deals
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/Field"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                      - key: amount
                        name: Amount
                        type: number
                        options: null
                        isArray: false
                        custom: false
                        universal: true
                        required: false
                        creatable: true
                        updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-deal
      description: |-
        Get details about all deals or a particular deal. 
        Details include the type, possible values, and other meta data about the fields.
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: "The token for the customer's CRM account. This was generated when they connected their account."
          required: true
        - schema:
            type: string
          in: query
          name: id
          description: "If provided, get the details about a particular deal. If not provided, get details about all deals."
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: boolean
          in: query
          name: allFields
          description: "Returns details about native fields."
  /crm/deal/batch:
    get:
      summary: Get Batch Deals
      tags:
        - deals
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  deals:
                    type: array
                    items:
                      $ref: "#/components/schemas/Deal"
                  invalidIds:
                    $ref: "#/components/schemas/InvalidIds"
              examples:
                example-1:
                  value:
                    deals:
                      - id: v.deal.497fb529e6805351b5dc8057c74a4a52
                        nativeId: "84"
                        name: Blue Cross Deal
                        stage: demo
                        amount: 10000
                        closeDate: "2020-08-23T00:00:00Z"
                        probability: "0.4"
                        expectedRevenue: 4000
                        isWon: false
                        isClosed: false
                        modifiedTime: "2019-08-24T14:15:22Z"
                        createdTime: "2019-08-24T14:15:22Z"
                        associations:
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
      operationId: get-batch-crm-deal
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          required: true
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: ids
          description: Comma separated list of Deal Id's.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve Deals by a set of Id's
    parameters: []
  /crm/accounts:
    get:
      summary: Get All Accounts
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    accounts:
                      - id: v.account.0dcb45e051315a6ea63b0f16e73689d9
                        nativeId: "344"
                        name: Blue Cross
                        description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                        industry: TV and Media
                        annualRevenue: 10000000
                        numberOfEmployees: 100
                        website: www.bluecross.penn
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        phone: "8192223333"
                        address:
                          street: 100 Blue Dr
                          city: Scranton
                          state: Pennsylvania
                          postalCode: "281332"
                          country: USA
                        associations:
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
                    nextPageCursor: string
      operationId: get-all-crm-accounts
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: number
          in: query
          name: limit
          description: The number of records to return per page.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: |-
        Retrieve all Accounts
        *CRM Caveats*:
        - Pipedrive: dealIds + contactIds not supported when querying for all accounts
    parameters: []
  /crm/accounts/search:
    post:
      summary: Search Accounts
      tags: 
        - accounts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    id:
                      $ref: "#/components/schemas/StringFilter"
                    nativeId:
                      $ref: "#/components/schemas/StringFilter"
                    name:
                      $ref: "#/components/schemas/StringFilter"
                    description:
                      $ref: "#/components/schemas/StringFilter"
                    industry:
                      $ref: "#/components/schemas/StringFilter"
                    website:
                      $ref: "#/components/schemas/StringFilter"
                    street:
                      $ref: "#/components/schemas/StringFilter"
                    city:
                      $ref: "#/components/schemas/StringFilter"
                    state:
                      $ref: "#/components/schemas/StringFilter"
                    postalCode:
                      $ref: "#/components/schemas/StringFilter"
                    country:
                      $ref: "#/components/schemas/StringFilter"
                    phone:
                      $ref: "#/components/schemas/StringFilter"
                    annualRevenue:
                      $ref: "#/components/schemas/NumberFilter"
                    numberOfEmployees:
                      $ref: "#/components/schemas/NumberFilter"
                    createdTime:
                      $ref: "#/components/schemas/DateFilter"
                    modifiedTime:
                      $ref: "#/components/schemas/DateFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
                  nextPageCursor:
                    type: string
                title: responseBody
              examples:
                example-1:
                  value:
                    accounts:
                      - id: v.account.0dcb45e051315a6ea63b0f16e73689d9
                        nativeId: "344"
                        name: Blue Cross
                        description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                        industry: TV and Media
                        annualRevenue: 10000000
                        numberOfEmployees: 100
                        website: www.bluecross.penn
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        phone: "8192223333"
                        address:
                          street: 100 Blue Dr
                          city: Scranton
                          state: Pennsylvania
                          postalCode: "281332"
                          country: USA
                        associations:
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
                    nextPageCursor: string
      operationId: search-crm-accounts
      description: Search all Accounts using filters
      parameters:
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/allFields'
  /crm/account:
    get:
      summary: Get Account
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"
              examples:
                example-1:
                  value:
                    account:
                      id: v.account.0dcb45e051315a6ea63b0f16e73689d9
                      nativeId: "344"
                      name: Blue Cross
                      description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                      industry: TV and Media
                      annualRevenue: 10000000
                      numberOfEmployees: 100
                      website: www.bluecross.penn
                      createdTime: "2019-08-24T14:15:22Z"
                      modifiedTime: "2019-08-24T14:15:22Z"
                      phone: "8192223333"
                      address:
                        street: 100 Blue Dr
                        city: Scranton
                        state: Pennsylvania
                        postalCode: "281332"
                        country: USA
                      associations:
                        dealIds:
                          - v.deal.497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                          - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                        noteIds:
                          - v.note.006b4db16b6b50c981a174b02753c390
                        taskIds:
                          - v.task.2322707bbc41577d9806400e2daa25de
                        leadIds:
                          - v.lead.d08f345ace24509e911a0ea8e3d2203c
                        eventIds:
                          - v.event.0000d2e83d6c5d52a61f2fb860666477
                        emailIds:
                          - v.email.3ab3a9562af957228c1019127e3c81e1
                        ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                      additional: {}
      operationId: get-one-crm-account
      parameters:
        - schema:
            type: string
          in: query
          required: true
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: id
          required: true
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve a single Account by Id
    parameters: []
    post:
      summary: Create Account
      tags:
        - accounts
      operationId: post-crm-account
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
              examples:
                example-1:
                  value:
                    id: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                account:
                  $ref: "#/components/schemas/AccountCreate"
              required:
                - accessToken
                - account
            examples:
              example-1:
                value:
                  accessToken: string
                  account:
                    name: Blue Cross
                    description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                    industry: TV and Media
                    annualRevenue: 10000000
                    numberOfEmployees: 100
                    website: www.bluecross.penn
                    phone: "8192223333"
                    address:
                      street: 100 Blue Dr
                      city: Scranton
                      state: Pennsylvania
                      postalCode: "281332"
                      country: USA
      description: Create a new Account
    patch:
      summary: Update Account
      tags:
        - accounts
      operationId: put-crm-account
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: "0"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                id:
                  type: string
                account:
                  $ref: "#/components/schemas/AccountUpdate"
              required:
                - accessToken
                - id
                - account
            examples:
              example-1:
                value:
                  accessToken: string
                  id: string
                  account:
                    name: Blue Cross
                    description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                    industry: TV and Media
                    annualRevenue: 10000000
                    numberOfEmployees: 100
                    website: www.bluecross.penn
                    createdTime: "2019-08-24T14:15:22Z"
                    modifiedTime: "2019-08-24T14:15:22Z"
                    phone: "8192223333"
                    address:
                      street: 100 Blue Dr
                      city: Scranton
                      state: Pennsylvania
                      postalCode: "281332"
                      country: USA
      description: Update an existing Account
      parameters: []
  /crm/account/details:
    get:
      summary: Get Account Details
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/Field"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                      - key: name
                        name: Name
                        type: string
                        options: null
                        isArray: false
                        custom: false
                        universal: true
                        required: false
                        creatable: true
                        updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-account
      description: |-
        Get details about all accounts. 
        Details include the type, possible values, and other meta data about the fields.
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: "The token for the customer's CRM account. This was generated when they connected their account."
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: boolean
          in: query
          name: allFields
          description: "Returns details about native fields."
  /crm/account/batch:
    get:
      summary: Get Batch Accounts
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
                  invalidIds:
                    $ref: "#/components/schemas/InvalidIds"
              examples:
                example-1:
                  value:
                    accounts:
                      - id: v.account.0dcb45e051315a6ea63b0f16e73689d9
                        nativeId: "344"
                        name: Blue Cross
                        description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                        industry: TV and Media
                        annualRevenue: 10000000
                        numberOfEmployees: 100
                        website: www.bluecross.penn
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        phone: "8192223333"
                        address:
                          street: 100 Blue Dr
                          city: Scranton
                          state: Pennsylvania
                          postalCode: "281332"
                          country: USA
                        associations:
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
      operationId: get-batch-crm-account
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          required: true
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: ids
          description: Comma separated list of Account Id's.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve Accounts by a set of Id's
    parameters: []
  /crm/leads:
    get:
      summary: Get All Leads
      tags:
        - leads
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  leads:
                    type: array
                    items:
                      $ref: "#/components/schemas/Lead"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    leads:
                      - id: v.lead.d08f345ace24509e911a0ea8e3d2203c
                        nativeId: "23"
                        firstName: Tom
                        lastName: Smith
                        jobTitle: Director of Operations
                        email: tom@bluecross.com
                        account: Blue Cross
                        phone: "1234445555"
                        mobilePhone: "2338889999"
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          eventAttendeeIds:
                            - v.attendee.f63c1bd7215f5150b332d31d9509752f
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
                    nextPageCursor: string
      operationId: get-all-crm-leads
      description: |-
        Retrieve all leads.
        *CRM Caveats*:
        - Pipedrive: Only `jobTitle` is returned when querying for all leads
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: number
          in: query
          name: limit
          description: The number of records to return per page.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
  /crm/leads/search:
    post:
      summary: Search Leads
      tags: 
        - leads
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    id:
                      $ref: "#/components/schemas/StringFilter"
                    nativeId:
                      $ref: "#/components/schemas/StringFilter"
                    lastName:
                      $ref: "#/components/schemas/StringFilter"
                    firstName:
                      $ref: "#/components/schemas/StringFilter"
                    jobTitle:
                      $ref: "#/components/schemas/StringFilter"
                    email:
                      $ref: "#/components/schemas/StringFilter"
                    account:
                      $ref: "#/components/schemas/StringFilter"
                    phone:
                      $ref: "#/components/schemas/StringFilter"
                    mobilePhone:
                      $ref: "#/components/schemas/StringFilter"
                    createdTime:
                      $ref: "#/components/schemas/DateFilter"
                    modifiedTime:
                      $ref: "#/components/schemas/DateFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  leads:
                    type: array
                    items:
                      $ref: "#/components/schemas/Lead"
                  nextPageCursor:
                    type: string
                title: responseBody
              examples:
                example-1:
                  value:
                    leads:
                      - id: v.lead.d08f345ace24509e911a0ea8e3d2203c
                        nativeId: "23"
                        firstName: Tom
                        lastName: Smith
                        jobTitle: Director of Operations
                        email: tom@bluecross.com
                        account: Blue Cross
                        phone: "1234445555"
                        mobilePhone: "2338889999"
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          eventAttendeeIds:
                            - v.attendee.f63c1bd7215f5150b332d31d9509752f
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
                    nextPageCursor: string
      operationId: search-crm-leads
      description: Search all Leads using filters
      parameters:
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/allFields'
  /crm/lead:
    get:
      summary: Get Lead
      tags:
        - leads
      responses:
        "200":
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  lead:
                    $ref: "#/components/schemas/Lead"
              examples:
                example-1:
                  value:
                    lead:
                      id: v.lead.d08f345ace24509e911a0ea8e3d2203c
                      nativeId: "23"
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      email: tom@bluecross.com
                      account: Blue Cross
                      phone: "1234445555"
                      mobilePhone: "2338889999"
                      createdTime: "2019-08-24T14:15:22Z"
                      modifiedTime: "2019-08-24T14:15:22Z"
                      associations:
                        contactIds:
                          - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                          - v.account.0dcb45e051315a6ea63b0f16e73689d9
                        noteIds:
                          - v.note.006b4db16b6b50c981a174b02753c390
                        taskIds:
                          - v.task.2322707bbc41577d9806400e2daa25de
                        eventIds:
                          - v.event.0000d2e83d6c5d52a61f2fb860666477
                        eventAttendeeIds:
                          - v.attendee.f63c1bd7215f5150b332d31d9509752f
                        emailIds:
                          - v.email.3ab3a9562af957228c1019127e3c81e1
                      additional: {}
      operationId: get-one-crm-lead
      description: Retrieve a single Lead by Id
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: id
          required: true
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
    post:
      summary: Create Lead
      tags:
        - leads
      operationId: post-crm-lead
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: string
      description: Create a new Lead
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                lead:
                  $ref: "#/components/schemas/LeadCreate"
              required:
                - accessToken
                - lead
            examples:
              example-1:
                value:
                  accessToken: string
                  lead:
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    email: tom@bluecross.com
                    account: Blue Cross
                    phone: "1234445555"
                    mobilePhone: "2338889999"
    patch:
      summary: Update Lead
      tags:
        - leads
      operationId: put-crm-lead
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: "0"
      description: Update an existing Lead by Id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                lead:
                  $ref: "#/components/schemas/LeadUpdate"
            examples:
              example-1:
                value:
                  accessToken: string
                  lead:
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    email: tom@bluecross.com
                    account: Blue Cross
                    phone: "1234445555"
                    mobilePhone: "2338889999"
  /crm/lead/details:
    get:
      summary: Get Lead Details
      tags:
        - leads
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/Field"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                      - key: firstName
                        name: First Name
                        type: string
                        options: null
                        isArray: false
                        custom: false
                        universal: true
                        required: false
                        creatable: true
                        updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-lead
      description: |-
        Get details about all leads. 
        Details include the type, possible values, and other meta data about the fields.
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: "The token for the customer's CRM account. This was generated when they connected their account."
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: boolean
          in: query
          name: allFields
          description: "Returns details about native fields."
  /crm/lead/batch:
    get:
      summary: Get Batch Leads
      tags:
        - leads
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  leads:
                    type: array
                    items:
                      $ref: "#/components/schemas/Lead"
                  invalidIds:
                    $ref: "#/components/schemas/InvalidIds"
              examples:
                example-1:
                  value:
                    leads:
                      - id: v.lead.d08f345ace24509e911a0ea8e3d2203c
                        nativeId: "23"
                        firstName: Tom
                        lastName: Smith
                        jobTitle: Director of Operations
                        email: tom@bluecross.com
                        account: Blue Cross
                        phone: "1234445555"
                        mobilePhone: "2338889999"
                        createdTime: "2019-08-24T14:15:22Z"
                        modifiedTime: "2019-08-24T14:15:22Z"
                        associations:
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          noteIds:
                            - v.note.006b4db16b6b50c981a174b02753c390
                          taskIds:
                            - v.task.2322707bbc41577d9806400e2daa25de
                          eventIds:
                            - v.event.0000d2e83d6c5d52a61f2fb860666477
                          eventAttendeeIds:
                            - v.attendee.f63c1bd7215f5150b332d31d9509752f
                          emailIds:
                            - v.email.3ab3a9562af957228c1019127e3c81e1
                        additional: {}
      operationId: get-batch-crm-lead
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          required: true
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: ids
          description: Comma separated list of Lead Id's.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve Leads by a set of Id's
    parameters: []
  /crm/notes:
    get:
      summary: Get All Notes
      tags:
        - notes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  notes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Note"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    notes:
                      - id: v.note.006b4db16b6b50c981a174b02753c390
                        nativeId: "34"
                        content: This note has some interesting content in it!
                        modifiedTime: "2019-08-24T14:15:22Z"
                        createdTime: "2019-08-24T14:15:22Z"
                        associations:
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
                    nextPageCursor: string
      operationId: get-all-crm-notes
      description: Retrieve all Notes
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: number
          in: query
          name: limit
          description: The number of records to return per page.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
  /crm/notes/search:
    post:
      summary: Search Notes
      tags: 
        - notes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    id:
                      $ref: "#/components/schemas/StringFilter"
                    nativeId:
                      $ref: "#/components/schemas/StringFilter"
                    content:
                      $ref: "#/components/schemas/StringFilter"
                    contentText:
                      $ref: "#/components/schemas/StringFilter"
                    contentHtml:
                      $ref: "#/components/schemas/StringFilter"
                    createdTime:
                      $ref: "#/components/schemas/DateFilter"
                    modifiedTime:
                      $ref: "#/components/schemas/DateFilter"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  notes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Note"
                  nextPageCursor:
                    type: string
                title: responseBody
              examples:
                example-1:
                  value:
                    notes:
                      - id: v.note.006b4db16b6b50c981a174b02753c390
                        nativeId: "34"
                        content: This note has some interesting content in it!
                        modifiedTime: "2019-08-24T14:15:22Z"
                        createdTime: "2019-08-24T14:15:22Z"
                        associations:
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
                    nextPageCursor: string
      operationId: search-crm-notes
      description: Search all Notes using filters
      parameters:
        - $ref: '#/components/parameters/accessToken'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/allFields'
  /crm/note:
    get:
      summary: Get Note
      tags:
        - notes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  note:
                    $ref: "#/components/schemas/Note"
              examples:
                example-1:
                  value:
                    note:
                      id: v.note.006b4db16b6b50c981a174b02753c390
                      nativeId: "34"
                      content: This note has some interesting content in it!
                      modifiedTime: "2019-08-24T14:15:22Z"
                      createdTime: "2019-08-24T14:15:22Z"
                      associations:
                        dealIds:
                          - v.deal.497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                          - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                          - v.account.0dcb45e051315a6ea63b0f16e73689d9
                        leadIds:
                          - v.lead.d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                      additional: {}
      operationId: get-one-crm-note
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: id
          required: true
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve a single Note by Id
    post:
      summary: Create Note
      tags:
        - notes
      operationId: post-crm-note
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: "0"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                note:
                  $ref: "#/components/schemas/NoteCreate"
              required:
                - accessToken
                - note
            examples:
              example-1:
                value:
                  accessToken: string
                  note:
                    content: This note has some interesting content in it!
                    userId: v.user.79d154aa0c7a571295a157369d448e65
                    dealId: v.deal.497fb529e6805351b5dc8057c74a4a52
                    leadId: v.lead.d08f345ace24509e911a0ea8e3d2203c
                    accountId: v.account.0dcb45e051315a6ea63b0f16e73689d9
                    contactId: v.contact.e5f32d4fd2115220bd20a2ccf81210ec
        description: ""
      description: |-
        Create a new Note.
        *CRM Caveats*:
        - Salesforce: You may only associate a Note with one entity.
    patch:
      summary: Update Note
      tags:
        - notes
      operationId: put-crm-note
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ""
                type: object
                x-examples:
                  example-1:
                    id: "0"
                properties:
                  id:
                    type: string
                required:
                  - id
              examples:
                example-1:
                  value:
                    id: "0"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                id:
                  type: string
                note:
                  $ref: "#/components/schemas/NoteUpdate"
              required:
                - accessToken
                - id
                - note
            examples:
              example-1:
                value:
                  accessToken: string
                  id: string
                  note:
                    content: This note has some interesting content in it!
                    userId: v.user.79d154aa0c7a571295a157369d448e65
      description: Update an existing Note by Id
  /crm/note/details:
    get:
      summary: Get Note Details
      tags:
        - notes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: "#/components/schemas/Field"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                      - key: content
                        name: Content
                        type: string
                        options: null
                        isArray: false
                        custom: false
                        universal: true
                        required: true
                        creatable: true
                        updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-note
      description: |-
        Get details about all notes. 
        Details include the type, possible values, and other meta data about the fields.
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: "The token for the customer's CRM account. This was generated when they connected their account."
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: boolean
          in: query
          name: allFields
          description: "Returns details about native fields."
  /crm/note/batch:
    get:
      summary: Get Batch Notes
      tags:
        - notes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  notes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Note"
                  invalidIds:
                    $ref: "#/components/schemas/InvalidIds"
              examples:
                example-1:
                  value:
                    notes:
                      - id: v.note.006b4db16b6b50c981a174b02753c390
                        nativeId: "34"
                        content: This note has some interesting content in it!
                        modifiedTime: "2019-08-24T14:15:22Z"
                        createdTime: "2019-08-24T14:15:22Z"
                        associations:
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
      operationId: get-batch-crm-note
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          required: true
          description: The token for the customer's CRM account. This was generated when they connected their account.
        - schema:
            type: string
          in: query
          name: ids
          description: Comma separated list of Note Id's.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
      description: Retrieve Notes by a set of Id's
    parameters: []
  /crm/tasks:
    get:
      summary: Get All Tasks
      tags:
        - tasks
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Task"
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    tasks:
                      - id: v.task.2322707bbc41577d9806400e2daa25de
                        nativeId: "122"
                        body: This task needs to be done very soon!
                        subject: High Priority Task
                        isDone: false
                        dueDate: "2019-09-24T14:15:22Z"
                        status: Not Done
                        priority: High
                        modifiedTime: "2019-08-24T14:15:22Z"
                        createdTime: "2019-08-24T14:15:22Z"
                        associations:
                          dealIds:
                            - v.deal.497fb529e6805351b5dc8057c74a4a52
                          contactIds:
                            - v.contact.e5f32d4fd2115220bd20a2ccf81210ec
                          accountIds:
                            - v.account.0dcb45e051315a6ea63b0f16e73689d9
                          leadIds:
                            - v.lead.d08f345ace24509e911a0ea8e3d2203c
                          ownerUserId: v.user.56f653659ea9524b9e0fb0ba67e6f8a0
                        additional: {}
                    nextPageCursor: string
      operationId: get-all-crm-tasks
      description: Retrieve all Tasks
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
          description: The token for the customer's CRM account. This was generated when they connected their account.
          required: true
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: number
          in: query
          name: limit
          description: The number of records to return per page.
        - schema:
            type: boolean
          in: query
          name: allFields
          description: Returns all fields including non-unifiable and custom fields under the "additional" property in the response
    parameters: []
  /crm/tasks/search:
    post:
[...]
